@import "tailwindcss";

body {
  font-family: var(--font-poppins);
}

.container{
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 20px;
}

@theme {
  --color-primary: #b88e2f;
  --color-textGray: #9F9F9F;
}